button[title="View fullscreen"] {
    display: none;
}

header {
    height: 0 !important;
}

.block-container {
    padding-top: 0;
    padding-bottom: 0;
}

#drop-shadow {
	font-family: "Source Sans Pro", sans-serif;
	font-size: 14px;
	font-weight: 400;
	text-align: center;
	pointer-events: none;
}